MyMap.suo
MyMap/bin/Debug/MyMap.exe
MyMap/bin/Debug/MyMap.pdb
MyMap/bin/Debug/MyMap.vshost.exe
MyMap/bin/Debug/MyMap.vshost.exe.manifest
MyMap/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
MyMap/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyMap/obj/x86/Debug/GenerateResource.read.1.tlog
MyMap/obj/x86/Debug/GenerateResource.write.1.tlog
MyMap/obj/x86/Debug/MyMap.csproj.FileListAbsolute.txt
MyMap/obj/x86/Debug/MyMap.exe
MyMap/obj/x86/Debug/MyMap.pdb
MyMap/obj/x86/Debug/MyMap.Properties.Resources.resources
*.osm.pbf
MyMap.userprefs
MyMap/bin
MyMap/obj/x86/Debug/ResolveAssemblyReference.cache
*.sln
MyMap/obj/x86/Debug/MyMap.csproj.GenerateResource.Cache
MyMap/obj/x86/Debug/MyMap.csprojResolveAssemblyReference.cache
logo/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
logo/obj/x86/Debug/logo.csproj.FileListAbsolute.txt
logo/obj/x86/Debug/logo.exe
logo/obj/x86/Debug/logo.pdb
logo/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
logo/obj/x86/Debug/logo.csproj.FileListAbsolute.txt
logo/obj/x86/Debug/logo.exe
logo/obj/x86/Debug/logo.pdb
MyMap/Graph.cs.orig
MyMap/MapDisplay.cs.orig
MyMap/Renderer.cs.orig
*orig
MyMap/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
MyMap/obj/x86/Debug/build.force
